body {
    scrollbar-face-color: #CCCCCC;
    scrollbar-shadow-color: #999999;
    scrollbar-highlight-color: #999999;
    scrollbar-3dlight-color: #EAEAEA;
    scrollbar-darkshadow-color: #EAEAEA;
    scrollbar-track-color: #EAEAEA;
    scrollbar-arrow-color: #999999;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

header, footer {
    text-align: center;
    padding: 10px 0;
}

header .logo-table {
    margin-left: 250px; /* Add margin to move the table slightly to the right */
}

header img, footer img {
    margin: 0 1px;
}

.main-content {
    display: flex;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 15vw; /* Sidebar width as a percentage of viewport width */
    height: 100%;
    background-color: #f4f4f4;
    padding: 10px;
    overflow-y: auto;
}

.content {
    margin-left: 15vw; /* Content margin matches the sidebar width */
    padding: 20px;
    flex-grow: 1;
}

@media (max-width: 1200px) {
    .sidebar {
        width: 20vw; /* Adjust sidebar width */
    }
    .content {
        margin-left: 20vw; /* Adjust content margin */
    }
}

@media (max-width: 992px) {
    .sidebar {
        width: 25vw; /* Adjust sidebar width */
    }
    .content {
        margin-left: 25vw; /* Adjust content margin */
    }
}

@media (max-width: 768px) {
    .sidebar {
        width: 30vw; /* Adjust sidebar width */
    }
    .content {
        margin-left: 30vw; /* Adjust content margin */
    }
}

@media (max-width: 576px) {
    .content {
        margin-left: 0; /* Full width on small screens */
        padding-left: 20px; /* Add some padding on small screens */
    }

    .sidebar {
        width: 100%; /* Full width sidebar */
        height: auto; /* Adjust height */
        position: relative; /* Position relative */
    }
}

nav .nav-table {
    width: 100%;
	margin: 10px;
	font-family: "Times New Roman", "��Բ";
	font-weight: bold;
	font-size: 18px;
}

nav .menu a {
    display: block;
    padding: 5px 0;
	padding-left: 10px;
    color: #EE7700;
    font-family: "Times New Roman", "��Բ";
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    line-height: 20px;
}

nav .menu a:hover {
    color: #8142bf;
}

.articlesubtitle {
    color: #555577;
    font-family: "Times New Roman", "��Բ";
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    margin: 10px 0;
}

ul.articlesubtitle {
    list-style-type: disc;
    padding: 10px;
	margin-left: 20px;
}

ul.articlesubtitle li {
    margin-bottom: 10px;
}

.articletitle {
    color: #EE7700;
    font-family: Arial, "��Բ";
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.foot {
    color: #909090;
    font-family: "Times New Roman", "��Բ";
    font-size: 12px;
    background-color: #eee;
    padding: 20px 0;
}

footer p {
    margin: 0;
}

.article {
    color: #555577;
    font-family: "Times New Roman", "��Բ";
    font-size: 12px;
    text-decoration: none;
    line-height: 18px;
}


.publication-list {
    list-style: none;
    padding: 0;
}

.publication-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f188e10a;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.publication-item:hover {
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.publication-image {
    width: 250px; /* Increased width */
    height: auto;
    margin-right: 20px;
    transition: transform 0.3s;
}

.publication-item:hover .publication-image {
    transform: scale(1.1);
}

.publication-info {
    flex: 1;
}

.publication-title {
    font-size: 1.2em;
    color: #007BFF;
}

.publication-title a {
    text-decoration: none;
}

.publication-title a:hover {
    text-decoration: underline;
}

.publication-details {
    font-size: 1em;
    color: #666;
    margin-top: 15px;
}


.network {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
}

.person {
    margin: 5px 0;
    transition: color 0.3s;
}

.name {
    cursor: pointer;
    transition: color 0.3s, text-decoration 0.3s;
}

.name:hover {
    color: blue; /* Change this to your preferred hover color */
    text-decoration: underline;
}

.title {
    font-style: italic;
}
